.App {
  text-align: center;
  background-image: url("../public/assets/backgroundimg.jpg");
  opacity: 50;
  background-size: cover;
  background-position: center center;
  filter:brightness(0.9);
  height: 100vh;
  width: 100%;
  display: flex;
  
  justify-content: center;
  align-items: center;
 
}
